* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@page {
    size: A4;
}

.page-break {
    page-break-after: always;
}

.page/*, .page-content*/ {
    height: 100vh;
}

.page {
    background: url('./resources/test//fondo-test.jpg');
    background-size: contain;
    margin: 0;
}

.page-content {
    display: inline-block;
    margin-left: 3.75vw;
    margin-top: 1.5vh;
    height: 97vh;
    width: 92.25vw;
    background-color: white;
    border-radius: 5rem;
}

.class-40 { 
    height: calc(100vh / 4);
    width: 100%;
    /* background-color: blue; */
}
.class-60 {
    height: calc(100vh / 2);
    /* background-color: red; */
}
.class-80 {
    height: calc(100vh - (100vh / 4));
    /* background-color: green; */
}
.class-max {
    height: 100vh;
    /* background-color: yellow; */
}
.anunciant {
    padding: 1.3rem 1rem;
}
.w-90 {
    width: 95%;
}