* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@page {
    size: A4;
}

.page-break {
    page-break-after: always;
}

.page/*, .page-content*/ {
    height: 100vh;
}

.page {
    background: url('./resources/test//fondo-test.jpg');
    background-size: contain;
    margin: 0;
}

.page-content {
    display: inline-block;
    margin-left: 3.75vw;
    margin-top: 1.5vh;
    height: 97vh;
    width: 92.25vw;
    background-color: white;
    border-radius: 5rem;
}

.class-40 { 
    height: calc(97vh / 4);
    width: 100%;
    /* background-color: blue; */
}
.class-60 {
    height: calc(97vh / 2);
    /* background-color: red; */
}
.class-80 {
    height: calc(97vh - (97vh / 4));
    /* background-color: green; */
}
.class-max {
    height: 97vh;
    /* background-color: yellow; */
}
.anunciant {
    padding: 1.3rem 1rem;
}
.w-90 {
    width: 95%;

}

.logo-primera-pagina{
    height: 8vh;
    margin-bottom: -1.5vh;
    /* background-color: yellow; */
    
}

.img-primera-pg{
    width: 50%;
}

 .texte-primera-pagina{
     
     line-height : 2.1vh;
     letter-spacing: 0.4vh;
    padding-left: 2rem;
    height: 42vh;
    /* background-color: teal; */
    font-family: "Open Sans";font-size: 25px; font-style: normal; font-variant: normal; font-weight: 700;
} 

.festeros-primera-pagina{
    padding-left: 2rem;
    height: 48vh;
    /* background-color: tomato; */
}

.img_fest{
    width: 180px;
    height: 50px !important;
    border-radius: 1vh;
}
.h-fest{
    height: 130px;
}
.linea-festeros{
    margin-bottom: 15px;
}